#backgro{
    position:relative;
    background: url(img/24000-removebg-preview.png);
    height: 100vh;
    background-size: cover;
    background-repeat: repeat-x;
    animation: background 40s alternate linear infinite;
}
@keyframes background{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}

@keyframes swipe {
    0% {background-color: transparent; width: 0px;}
    50% {background-color:#ec4899; width: 50px;}
    100% {background-color:#ec4899; width: 100px; color: white;}
}
#swipe{
    height: 48px;
    padding: 4px;
    animation: swipe 2s linear 0.9s 1 normal forwards;
}